.DS_Store
**/.DS_Store

# Python virtual environments
/.usr_venv/
/.usr_venv_x86/
/openseespy/.usr_venv/
/openseespy/.usr_venv_x86/

# Python build artifacts
__pycache__/
*.pyc
*.pyo

# Common generated outputs
openseespy/results/
