.DS_Store
**/.DS_Store

# Python virtual environments
/.usr_venv/
/.usr_venv_x86/
/openseespy/.usr_venv/
/openseespy/.usr_venv_x86/

# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.venv

# Common generated outputs
*.csv
openseespy/results/
MATLAB Codes for Finite Element Analysis - Solids and Structures (Ferreira).pdf
Structural Mechanics Modelling and Analysis of Frames and Trusses (Karl-Gunnar Olsson, Ola Dahlblom).pdf
The General Gauss Principle of Least Constraint JAM 2023.pdf
